@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;




body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.canvas-container {
  overflow: auto;
  max-width: 100%;
  max-height: calc(100vh - 4rem);
}

.sidebar {
  width: 240px; 
  overflow: auto;
  height: calc(100vh - 64px); 
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.canvas-inner {
  max-height: 100vh;
}


